<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bbfa64">  <td>19/06/15 17:15:59</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotations.afterMethod()[pri:0, instance:com.autoBot.testcases.TC002_CreateLead@9f73a2]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@7372342</td>   <td></td> </tr>
<tr bgcolor="bbfa64">  <td>19/06/15 17:16:25</td>   <td>25763</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;Annotations.afterMethod()[pri:0, instance:com.autoBot.testcases.TC002_CreateLead@9f73a2]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@7372342</td>   <td></td> </tr>
<tr bgcolor="bbfa64">  <td>19/06/15 17:15:33</td>   <td>-26008</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.beforeMethod()[pri:0, instance:com.autoBot.testcases.TC002_CreateLead@9f73a2]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@7372342</td>   <td></td> </tr>
<tr bgcolor="bbfa64">  <td>19/06/15 17:16:01</td>   <td>2092</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Annotations.beforeMethod()[pri:0, instance:com.autoBot.testcases.TC002_CreateLead@9f73a2]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@7372342</td>   <td></td> </tr>
<tr bgcolor="947870">  <td>19/06/15 17:15:32</td>   <td>-26792</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Reporter.report()[pri:0, instance:com.autoBot.testcases.TC002_CreateLead@9f73a2]">&gt;&gt;report</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@7372342</td>   <td></td> </tr>
<tr bgcolor="79f379">  <td>19/06/15 17:15:38</td>   <td>-20440</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_CreateLead.runCreateLead(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.autoBot.testcases.TC002_CreateLead@9f73a2]">runCreateLead</td> 
  <td>main@7372342</td>   <td></td> </tr>
<tr bgcolor="79f379">  <td>19/06/15 17:16:05</td>   <td>6576</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_CreateLead.runCreateLead(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.autoBot.testcases.TC002_CreateLead@9f73a2]">runCreateLead</td> 
  <td>main@7372342</td>   <td></td> </tr>
<tr bgcolor="79f379">  <td>19/06/15 17:15:32</td>   <td>-26980</td> <td>&nbsp;</td><td title="&gt;&gt;TC002_CreateLead.setData()[pri:0, instance:com.autoBot.testcases.TC002_CreateLead@9f73a2]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@7372342</td>   <td></td> </tr>
<tr bgcolor="dafa95">  <td>19/06/15 17:15:32</td>   <td>-26980</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AbstractTestNGCucumberTests.setUpClass()[pri:0, instance:com.autoBot.testcases.TC002_CreateLead@9f73a2]">&gt;&gt;setUpClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@7372342</td>   <td></td> </tr>
<tr bgcolor="947870">  <td>19/06/15 17:15:31</td>   <td>-27401</td> <td title="&gt;&gt;Reporter.startReport()[pri:0, instance:com.autoBot.testcases.TC002_CreateLead@9f73a2]">&gt;&gt;startReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@7372342</td>   <td></td> </tr>
<tr bgcolor="947870">  <td>19/06/15 17:16:25</td>   <td>25941</td> <td title="&lt;&lt;Reporter.stopReport()[pri:0, instance:com.autoBot.testcases.TC002_CreateLead@9f73a2]">&lt;&lt;stopReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@7372342</td>   <td></td> </tr>
<tr bgcolor="dafa95">  <td>19/06/15 17:16:25</td>   <td>25910</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;AbstractTestNGCucumberTests.tearDownClass()[pri:0, instance:com.autoBot.testcases.TC002_CreateLead@9f73a2]">&lt;&lt;tearDownClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@7372342</td>   <td></td> </tr>
</table>
